beautifulsoup4==4.5.1
decorator==4.0.10
Django==1.10.2
django-bootstrap3==7.1.0
dnspython==1.15.0
dnspython3==1.15.0
ipwhois==0.14.0
ntplib==0.3.3
six==1.10.0
texttable==0.8.4
validators==0.11.0
python-decouple==3.0
