beautifulsoup4==4.12.2
decorator>=4.0
Django==3.2.20
django-bootstrap3==21.2
dnspython==2.4.2
ipwhois==1.2.0
ntplib==0.3.4
pythonwhois==2.4.3
six==1.16.0
texttable==1.6.7
validators==0.20.0
python-decouple==3.8
WeasyPrint==60.1
